@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .logo {
    padding-bottom: 30px;
  }
  .logo .nametag {
    margin-bottom: 10px;
  }
  .welcome {
    margin-bottom: 50px;
    font-family: "Raleway";
    font-size: 24px;
    line-height: 29px;
  }
  .welcome b {
    font-weight: bold;
  }
  .sologan {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
  }
  .sologan > div {
    margin-bottom: 20px;
  }
  .sologan > div:last-child {
    margin-bottom: 75px;
  }
  .content-index .language {
    margin: 20px 20px 15px 0;
    font-family: "Calibri-Bold";
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    line-height: 23px;
  }
  .content-index .language svg {
    font-size: 16px;
    line-height: 19px;
    margin-right: 10px;
  }
  .content-index .language span {
    margin-top: -4px;
  }
  .content-index .action-index {
    margin-bottom: 50px;
  }
  .content-index .action-index > :first-child {
    margin-bottom: 20px;
  }
  .content-index .list-partner {
    font-family: "Raleway";
    font-size: 14px;
    line-height: 16px;
  }
  .content-index .list-partner > div:first-child {
    margin-bottom: 10px;
  }
  .content-index .list-partner .list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-index .list-partner .list-group .list-group-item {
    padding: 0;
    border: 0;
  }
  .form .form-group > div label {
    margin-bottom: 10px;
  }
  .form .action {
    font-family: "Raleway";
    font-size: 14px;
    line-height: 16px;
  }
  .form .action a:first-child {
    margin-bottom: 15px;
  }
  .content-signin .form .form-group > div .btn-forgot {
    font-family: "Raleway";
    font-size: 15px;
    line-height: 18px;
    margin: 0 20px 10px 0;
  }
  .content-signin .form .form-group > div:last-child {
    margin-bottom: 80px;
  }
  .content-signup .form .form-group > div:last-child {
    margin-bottom: 70px;
  }
  .content-terms {
    font-family: "Calibri-Light";
    font-size: 12px;
    line-height: 14px;
    position: relative;
  }
  .content-terms .gradient {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #ffffff50;
    /* For browsers that do not support gradients */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff50), to(white));
    background-image: linear-gradient(#ffffff50, white);
    /* Standard syntax (must be last) */
  }
  .footer-terms {
    width: 100%;
    padding: 0 30px 35px 30px;
  }
  .content-intangibles {
    margin: 20px 0 55px 0;
  }
  .content-intangibles .figure .intangibles-model-lv1,
  .content-intangibles .figure .intangibles-model-lv2,
  .content-intangibles .figure .intangibles-model-lv3 {
    width: 100%;
  }
  .content-intangibles .figure .intangibles-model-lv1 span,
  .content-intangibles .figure .intangibles-model-lv2 span,
  .content-intangibles .figure .intangibles-model-lv3 span {
    font-family: "Calibri-Bold";
    font-size: 12px;
    line-height: 14px;
    color: white;
    position: absolute;
    bottom: 10px;
  }
  .content-intangibles .figure .intangibles-model-lv1 {
    border-radius: 60px;
    background-color: #71b4c4;
    height: 300px;
    max-width: 300px;
    position: relative;
  }
  .content-intangibles .figure .intangibles-model-lv2 {
    border-radius: 48px;
    background-color: #429bb0;
    height: 240px;
    max-width: 240px;
    position: absolute;
  }
  .content-intangibles .figure .intangibles-model-lv3 {
    border-radius: 36px;
    background-color: #007f9c;
    height: 180px;
    max-width: 180px;
    position: absolute;
  }
  .content-intangibles .figure .intangibles-model-lv3 span {
    bottom: unset;
  }
  .content-intangibles .figure .figure-caption {
    font-family: "Calibri-Light";
    font-size: 12px;
    line-height: 14px;
    color: black;
    margin: 10px 0 20px;
  }
  .content-intangibles .intangibles-details .intangibles-details_lv3,
  .content-intangibles .intangibles-details .intangibles-details_lv2,
  .content-intangibles .intangibles-details .intangibles-details_lv1 {
    height: 50px;
    max-width: 50px;
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
  }
  .content-intangibles .intangibles-details .intangibles-details_lv3 {
    background-color: #007f9c;
  }
  .content-intangibles .intangibles-details .intangibles-details_lv2 {
    background-color: #429bb0;
  }
  .content-intangibles .intangibles-details .intangibles-details_lv1 {
    background-color: #71b4c4;
  }
  .content-intangibles .intangibles-details .intangibles-details_title {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    margin: 15px 0 10px 0;
  }
  .content-intangibles .intangibles-details .intangibles-details_content {
    font-family: "Calibri-Light";
    font-size: 14px;
    line-height: 16px;
  }
  .content-intangibles .intangibles-details .intangibles-details_content:last-child {
    margin-bottom: 20px;
  }
  .content-myAccount > div {
    padding-right: 30px;
  }
  .content-myAccount .evaluation_sucess {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .content-myAccount .evaluation_select {
    font-family: "Calibri-Light";
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
  }
  .content-myAccount .list-accordion {
    overflow: auto;
    margin-left: 0;
    padding-bottom: 40px;
  }
  .content-myAccount .language-select {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .content-myAccount .custom-select {
    font-family: "Calibri-Light";
    font-size: 16px;
    line-height: 23px;
    width: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .content-myAccount .btn-save {
    margin: 35px 0;
  }
  .content-myAccount .action-myAccount {
    margin-top: 50px;
  }
  .content-business .title {
    padding: 0 30px;
  }
  .content-business .form-group {
    padding: 0 30px;
  }
  .content-business .form-group > div {
    margin-bottom: 20px;
  }
  .content-business .form-group > div label {
    margin-bottom: 20px;
  }
  .content-business .form-group > div input {
    margin-bottom: 10px;
  }
  .content-business .form-group > div .card:first-child .list-accordion > div:first-child {
    margin-bottom: 10px;
  }
  .list-group-item {
    padding: 20px;
    margin-bottom: 10px;
    color: black;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    border: 1px solid #007f9c;
    border-radius: 5px;
  }
  .list-group-item + .list-group-item {
    border-top-width: 1px;
  }
  .list-group-item.active {
    background-color: #007f9c;
    margin-top: 0;
    border-left-width: 0;
    color: white;
  }
  .list-group-item h5 {
    font-family: "Calibri-Bold";
    font-size: 14px;
    line-height: 16px;
  }
  .list-group-item p {
    margin-bottom: 0;
    font-family: "Calibri-Light";
    font-size: 14px;
    line-height: 16px;
  }
  .content-ip .animation-box {
    margin: 55px auto 0;
    width: 100%;
    position: relative;
  }
  .content-ip .animation-box--item {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 141px;
    height: 141px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #ffffff;
    border-radius: 25px;
    padding: 9px 0;
    cursor: pointer;
  }
  .content-ip .animation-box--item.inactive > div {
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .content-ip .animation-box--item.inactive > div svg {
    font-size: 18px;
    line-height: 16px;
  }
  .content-ip .animation-box--item.inactive > div span svg {
    margin: 10px 0;
  }
  .content-ip .animation-box--item.inactive > div .name {
    font-size: 14px;
    line-height: 16px;
  }
  .content-ip .animation-box--item.inactive > div .animation-box--tooltip-icon {
    height: 30px;
    width: 30px;
    top: 30px;
  }
  .content-ip .animation-box--item.inactive > div .animation-box--tooltip-icon .fa-question {
    font-size: 14px;
    line-height: 16px;
  }
  .content-ip .animation-box--item.inactive > div .animation-box--tooltip-icon svg {
    margin: 0;
  }
  .content-ip .animation-box--item > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .content-ip .animation-box--item > div.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-ip .animation-box--item > div.active svg {
    margin-bottom: 0;
    margin-right: 15px;
  }
  .content-ip .animation-box--item > div.active .name {
    font-family: "Raleway";
  }
  .content-ip .animation-box--item > div.active .animation-box--tooltip-icon {
    top: unset;
  }
  .content-ip .animation-box--item > div.active .animation-box--tooltip-icon .fa-question {
    margin-right: 0;
  }
  .content-ip .animation-box--item > div svg {
    font-size: 24px;
    line-height: 16px;
    margin-bottom: 13px;
  }
  .content-ip .animation-box--item > div .name {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 16px;
    word-break: break-all;
  }
  .content-ip .animation-box--item > div .animation-box--tooltip-icon {
    position: absolute;
    right: -20px;
    background-color: white;
    height: 40px;
    width: 40px;
    top: 50px;
  }
  .content-ip .animation-box--item > div .animation-box--tooltip-icon .fa-question {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 16px;
  }
  .content-ip.ip .form-group > div input {
    margin-bottom: 10px;
  }
  .content-ip.IntellectualAssets .animation-box {
    margin: 20px 0 0;
  }
  .content-ip.IntellectualAssets .animation-box .ipIntellectualAssets-list {
    display: none;
  }
  .content-ip.IntellectualAssets .animation-box .ipIntellectualAssets-list.active {
    display: block;
  }
  .content-ip.IntellectualAssets .animation-box .action-ipIntellectualAssets {
    margin-top: 20px;
  }
  .content-unregisteredCopyright .unregisteredCopyright-list {
    margin-top: 55px;
  }
  .content-report .report-info h5 {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
  }
  .content-report .report-info h5.score {
    font-size: 21px;
    line-height: 25px;
  }
  .content-report .report-info p {
    font-family: "Calibri-Light";
    font-size: 14px;
    line-height: 16px;
  }
  .content-report .report-info .title-try {
    margin: 50px auto 20px;
  }
  .content-report .report-info .info-try p {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
  }
  .content-report .report-info .info-company {
    font-family: "Raleway";
    font-size: 12px;
    line-height: 14px;
  }
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
/*# sourceMappingURL=index.css.map */