@import "./../variables/variables";

@media (min-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    // index
    .logo {
        padding-bottom: 30px;
        .nametag {
            margin-bottom: 10px;
        }
    }
    .welcome {
        margin-bottom: 50px;
        font-family: "Raleway";
        @include font(24px, 29px);
        b {
            font-weight: bold;
        }
    }
    .sologan {
        font-family: "Raleway";
        @include font(18px, 21px);
        > div {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 75px;
            }
        }
    }

    // index
    .content-index {
        .language {
            margin: 20px 20px 15px 0;
            font-family: "Calibri-Bold";
            height: 16px;
            display: flex;
            @include font(16px, 23px);
            svg {
                @include font(16px, 19px);
                margin-right: 10px;
            }
            span {
                margin-top: -4px;
            }
        }
        .action-index {
            margin-bottom: 50px;
            & > :first-child {
                margin-bottom: 20px;
            }
        }
        .list-partner {
            font-family: "Raleway";
            @include font(14px, 16px);
            > div {
                &:first-child {
                    margin-bottom: 10px;
                }
            }
            .list-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .list-group-item {
                    padding: 0;
                    border: 0;
                }
            }
        }
    }

    // sign Up, sign In
    .form {
        .form-group {
            > div {
                label {
                    margin-bottom: 10px;
                }
            }
        }
        .action {
            font-family: "Raleway";
            @include font(14px, 16px);
            a:first-child {
                margin-bottom: 15px;
            }
        }
    }
    .content-signin {
        .form {
            .form-group {
                > div {
                    .btn-forgot {
                        font-family: "Raleway";
                        @include font(15px, 18px);
                        margin: 0 20px 10px 0;
                    }
                    &:last-child {
                        margin-bottom: 80px;
                    }
                }
            }
        }
    }
    .content-signup {
        .form {
            .form-group {
                > div {
                    &:last-child {
                        margin-bottom: 70px;
                    }
                }
            }
        }
    }

    // terms
    .content-terms {
        // margin: 20px 0;
        font-family: "Calibri-Light";
        @include font(12px, 14px);
        position: relative;
        .gradient {
            position: absolute;
            bottom: 0;
            height: 50px;
            width: 100%;
            background-color: #ffffff50; /* For browsers that do not support gradients */
            background-image: linear-gradient(#ffffff50, white); /* Standard syntax (must be last) */
        }
    }
    .footer-terms {
        width: 100%;
        padding: 0 30px 35px 30px;
    }

    // intangibles
    .content-intangibles {
        margin: 20px 0 55px 0;
        .figure {
            .intangibles-model-lv1,
            .intangibles-model-lv2,
            .intangibles-model-lv3 {
                width: 100%;
                span {
                    font-family: "Calibri-Bold";
                    @include font(12px, 14px);
                    color: white;
                    position: absolute;
                    bottom: 10px;
                }
            }
            .intangibles-model-lv1 {
                border-radius: 60px;
                background-color: $Glacier;
                height: 300px;
                max-width: 300px;
                position: relative;
            }
            .intangibles-model-lv2 {
                border-radius: 48px;
                background-color: $Boston_Blue;
                height: 240px;
                max-width: 240px;
                position: absolute;
            }
            .intangibles-model-lv3 {
                border-radius: 36px;
                background-color: $Allports;
                height: 180px;
                max-width: 180px;
                position: absolute;
                span {
                    bottom: unset;
                }
            }
            .figure-caption {
                font-family: "Calibri-Light";
                @include font(12px, 14px);
                color: black;
                margin: 10px 0 20px;
            }
        }
        .intangibles-details {
            .intangibles-details_lv3,
            .intangibles-details_lv2,
            .intangibles-details_lv1 {
                height: 50px;
                max-width: 50px;
                width: 100%;
                border-radius: 10px;
                margin-right: 10px;
            }
            .intangibles-details_lv3 {
                background-color: $Allports;
            }
            .intangibles-details_lv2 {
                background-color: $Boston_Blue;
            }
            .intangibles-details_lv1 {
                background-color: $Glacier;
            }
            .intangibles-details_title {
                font-family: "Raleway";
                font-weight: bold;
                @include font(15px, 18px);
                margin: 15px 0 10px 0;
            }
            .intangibles-details_content {
                font-family: "Calibri-Light";
                @include font(14px, 16px);
                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }
    }

    // my Account
    .content-myAccount {
        > div {
            padding-right: 30px;
        }
        .evaluation_sucess {
            font-family: "Raleway";
            font-weight: bold;
            @include font(15px, 18px);
            margin-bottom: 10px;
        }
        .evaluation_select {
            font-family: "Calibri-Light";
            @include font(12px, 14px);
            margin-bottom: 20px;
        }
        .evaluation_list {
            /* height */
            &::-webkit-scrollbar {
                height: 5px;
            }
            min-height: 135px;
            padding-bottom: 40px;
        }
        .language-select {
            font-family: "Raleway";
            font-weight: bold;
            @include font(15px, 18px);
            margin-bottom: 10px;
        }
        .custom-select {
            font-family: "Calibri-Light";
            @include font(16px, 23px);
            width: auto;
            box-shadow: none;
        }
        .btn-save {
            margin: 35px 0;
        }
        .action-myAccount {
            margin-top: 50px;
        }
    }

    // business
    .content-business {
        .title {
            padding: 0 30px;
        }
        .form-group {
            padding: 0 30px;
            > div {
                margin-bottom: 20px;
                label {
                    margin-bottom: 20px;
                }
                input {
                    margin-bottom: 10px;
                }
                .card-body {
                    > div {
                        padding: 0 0 0 30px;
                    }
                }
                .creative_list {
                    .item-carousel {
                        &:first-child {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    // list unregistered Copyright
    .list-group-item {
        padding: 20px;
        margin-bottom: 10px;
        color: black;
        transition: all ease-in-out 0.3s;
        & + .list-group-item {
            border-top-width: 1px;
        }
        &.active {
            background-color: $Allports;
            margin-top: 0;
            border-left-width: 0;
            color: white;
        }
        h5 {
            font-family: "Calibri-Bold";
            @include font(14px, 16px);
        }
        p {
            margin-bottom: 0;
            font-family: "Calibri-Light";
            @include font(14px, 16px);
        }
    }
    // ip, ip Intellectual Assets
    .content-ip {
        .animation-box {
            max-width: 300px;
            margin: 55px auto 0;
            width: 100%;
            position: relative;
            min-height: 300px;
            &--item {
                position: absolute;
                display: flex;
                width: 141px;
                height: 141px;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #ffffff;
                border-radius: 25px;
                padding: 9px 0;
                cursor: pointer;
                &.inactive {
                    > div {
                        height: 100%;
                        justify-content: start;
                        svg {
                            @include font(18px, 16px);
                        }
                        span {
                            svg {
                                margin: 10px 0;
                            }
                        }
                        .name {
                            @include font(14px, 16px);
                        }
                        .animation-box--tooltip-icon {
                            height: 30px;
                            width: 30px;
                            top: 30px;
                            .fa-question {
                                @include font(14px, 16px);
                            }
                            svg {
                                margin: 0;
                            }
                        }
                    }
                }
                > div {
                    display: flex;
                    flex-flow: column;
                    &.active {
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        svg {
                            margin-bottom: 0;
                            margin-right: 15px;
                        }
                        .name {
                            font-family: "Raleway";
                        }
                        .animation-box--tooltip-icon {
                            top: unset;
                            .fa-question {
                                margin-right: 0;
                            }
                        }
                    }
                    svg {
                        @include font(24px, 16px);
                        margin-bottom: 13px;
                    }
                    .name {
                        font-family: "Raleway";
                        @include font(18px, 16px);
                        word-break: break-all;
                    }
                    .animation-box--tooltip-icon {
                        position: absolute;
                        right: -20px;
                        background-color: white;
                        height: 40px;
                        width: 40px;
                        top: 50px;
                        .fa-question {
                            margin-bottom: 0;
                            @include font(18px, 16px);
                        }
                    }
                }
            }
        }
        &.ip {
            .form-group > div input {
                margin-bottom: 10px;
            }
        }
        &.IntellectualAssets {
            .animation-box {
                margin-top: 20px;
                .ipIntellectualAssets-list {
                    display: none;
                    &.active {
                        display: block;
                    }
                }
                .action-ipIntellectualAssets {
                    margin-top: 20px;
                }
            }
        }
    }

    // unregistered Copyright
    .content-unregisteredCopyright {
        .unregisteredCopyright-list {
            margin-top: 55px;
        }
    }

    // report
    .content-report {
        .report-info {
            h5 {
                font-family: "Raleway";
                font-weight: bold;
                @include font(15px, 18px);
                &.score {
                    @include font(21px, 25px);
                }
            }
            p {
                font-family: "Calibri-Light";
                @include font(14px, 16px);
            }
            .title-try {
                margin: 50px auto 20px;
            }
            .info-try {
                p {
                    font-family: "Raleway";
                    @include font(18px, 21px);
                    margin-bottom: 20px;
                }
            }
            .info-company {
                font-family: "Raleway";
                @include font(12px, 14px);
            }
        }
    }
}

@media (min-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

@media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}
